DistortWidget {
  /* 0 = normal, 1 = inversely proportional */
  pull-type: 0;
  /* ~ pi/16 * 8 */
  pull-angle: 1.0;
  pull-intensity: 0.2;
  background-alpha: 0.6;
  idle-timeout: 1.0;
  /*
   arrows = 1
   particles = 2
   velocity field = 4
   gravity = 8
   5 = 1 | 4 = arrows | velocity field
  */
  feature-flags: 5;
  /* amount of gravity (right, down) */
  /* no effect if gravity is disabled */
  gravity: vec2f(0.0, 100.0);
  tube-width: 0.03;
  decay-per-sec: 6000.0;
  /* 0: maximum blur, 1: no blur */
  blur-factor: 1;
}
WidgetList {
	/* 6 = move, 8 = rotation => 6+8 */
	input-flags: 14;
}
.FloatingWord {
	extra-input-capture-radius: 5;
  font-name: "LiberationSerif-Regular.ttf";
  font-size: 28px;
  padding: 0;
  margin: 0;
/*  color: #000000FF; */
  foreground: #000000;
  border-width: 1px;
  border-color: #000000FF;
}

.FloatingWord_clone {
	extra-input-capture-radius: 5;
  font-name: "LiberationSerif-Regular.ttf";
  font-size: 28px;
  padding: 0;
  margin: 0;
  color: #FFFFFFFF;
  foreground: #000000;
  border-width: 1px;
  border-color: #000000FF;
}

WordGame {
	/* how many times to duplicate the words in the word file */
	duplicate-words: 1;
}

AnswerBoard {
	border: 4px;
	border-color: #FF00FFAA;
	color: #FFFF00FF;
}

.answer_1 {
	color: #ee5533ff;
}

.submit_1 {
	color: #ee5533ff;
	font-size: 20px;
}

.submit_2 {
	color: #55aa33ff;
	font-size: 20px;
}

.answer_2 {
	color: #55aa33ff;
}
